@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(90deg,hsla(78, 84%, 20%, 1) 0%,hsla(48, 70%, 58%, 1) 100%);
    --primary-color: hsla(48, 70%, 50%, 1);
    --background: 0 0% 95%;
    --background-mild: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }


  .dark {
   --gradient: linear-gradient(90deg,hsla(78, 84%, 20%, 1) 0%,hsla(48, 70%, 58%, 1) 100%);
    --background:312, 83%, 2%;
    --background-mild: 312, 83%, 8%;
    --foreground: 0, 0%, 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary-color: hsla(48, 70%, 50%, 1);
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 
 html{
   scroll-behavior: smooth;
 }
 
 .main{
   @apply w-screen overflow-x-hidden md:px-8 px-4
 }
 
 .section{
   @apply py-[3rem] md:py-[3.7rem] overflow-hidden
 }
 
 .wrapper{
    @apply w-full max-w-6xl mx-auto
  }
  

.bg-gradient{
background: var(--gradient);
}

.text-gradient{
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border-image: var(--gradient);
  border-image-slice: 1;
  @apply border-solid border-transparent 
}



.text-shadow{
  text-shadow: 0px 0px 2rem var(--primary-color); /* Adjust shadow as needed */
}

.text-sm{
  @apply text-[1.1rem]
}

.text-opacity{
  @apply opacity-60
}

.text-desc{
  @apply text-[0.9rem] md:text-[1.3rem]
}

.blur-background {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}


.hover-border-gradient:hover{
  border-image: var(--gradient);
  border-image-slice: 1;
  @apply border-solid border-transparent 
}